<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qualifies.app"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        <activity
                android:name=".uis.RegisterActivity"
                android:launchMode="singleTask"
                android:label="@string/register_name">
        </activity>
        <activity
                android:name=".uis.ProtocolActivity"
                android:launchMode="singleTask"
                android:label="@string/protocol_name">
        </activity>
        <activity
                android:name=".uis.personal.PersonalActivity"
                android:launchMode="singleTask"
                android:label="@string/wo_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="com.qualifies.app.qualifieslife.MainActivity"
                  android:label="@string/app_name">

        </activity>
        <activity android:name=".uis.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".uis.personal.HistoryActivity"/>
        <activity android:name=".uis.personal.FollowActivity"/>
        <activity android:name=".uis.personal.SettingActivity"/>
        <activity android:name=".uis.personal.RealNameActivity"/>
        <activity android:name=".uis.personal.PositionActivity"/>
        <activity android:name=".uis.personal.AddPositionActivity"/>
        <activity android:name=".uis.personal.MoneyActivity"/>
        <activity
                android:name="com.qualifies.app.qualifieslife.HomePageActivity"
                android:label="@string/title_activity_home_page"/>
        <activity android:name="com.qualifies.app.qualifieslife.GoodDetailActivity"/>
        <activity
                android:name="com.qualifies.app.qualifieslife.GoodSpecActivity"
                android:label="@string/title_activity_good_spec">
        </activity>
        <activity
                android:name="com.qualifies.app.qualifieslife.HomeSearchActivity"
                android:label="@string/title_activity_home_search"/>
        <activity
                android:name="com.qualifies.app.qualifieslife.HomeSearchResultActivity"
                android:label="@string/title_activity_home_search_result"/>
    </application>

</manifest>
